Windows/.vs/QuadGamingSecurity/FileContentIndex/3a674b8c-f3f4-46df-8781-8e44e21434b3.vsidx
Windows/.vs/QuadGamingSecurity/FileContentIndex/5fc719ad-af15-4105-a7a1-4f4de6acab9b.vsidx
Windows/.vs/QuadGamingSecurity/FileContentIndex/e6dcfed9-47d8-445e-9e10-ef6d6cf46de3.vsidx
/Windows/.vs
Windows/.vs/QuadGamingSecurity/v17/DocumentLayout.json
Windows/.vs/QuadGamingSecurity/v17/.suo
/Windows/QuadGamingSecurity/bin
/Windows/QuadGamingSecurity/obj
/QuadGamingSecurity/obj
/QuadGamingSecurity/bin
/.vs
/QuadGamingSecurity/.vs
